<div class="inner"> 

<h1 class="center"><%= @search_count.present? ? pluralize(@search_count, "Search Result") : "Please search" %></h2><br />

<% if params[:search_term].present? %>
	<% @infos.each do |info| %>
	   <% if (thing = info.taggable).present? %>
	   <h4><%= link_to thing, thing %></h4> <p><%= thing.class.name %>  Posted by <%= thing.user %><br />
	   <em><%= content_tag :p, thing.abstract.truncate(140) if thing.abstract.present? %></em>
	   <hr>
	   <% end %>
	<% end %>
<% else %>
	<p>There's nothing here.</p>
<% end %>

</div>