<div class="form-inner">
  <h1 class="center">Articles</h1>
  <table class="table-responsive">
    <table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Creator</th>
      <th>View Article</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.subtitle %></td>
        <td><%= article.user %></td>
        <td><%= link_to 'Show', article %></td>
        <% if policy(article).edit? %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <% end %>
        <% if policy(article).destroy? %>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</table>

<br>

<% if policy(@articles).create? %>
  <%= link_to 'New Article', new_article_path, :class => "btn btn-sm btn-primary" %>
<% end %>

</div>