<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @article.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= simple_format@article.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>
<p>
  <strong>Categories</strong><br/>
  <% @article.tags.each do |tag| %>
  <%= link_to tag.name, { controller: :search, action: :index, search_term: tag.name }, :class => "btn btn-warning btn-sm"%>
  <% end %>
</p>


<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-default btn-sm" %>
<%= link_to 'Back', articles_path, :class => "btn btn-default btn-sm"%>
