<div class="article-show-inner">
  
  <h1><%= @article.title %></h1>

  <h2><%= @article.subtitle %></h2>

  <p><%= simple_format@article.body %></p>

  <p>Written by: <%= @article.user %></p>
  <p>

    <h2>Categories</h2><br/>
    <% @article.tags.each do |tag| %>
    <%= link_to tag.name, { controller: :search, action: :index, search_term: tag.name }, :class => "btn btn-warning btn-sm"%>
    <% end %>
  </p>




  <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-default btn-sm" %>
  <%= link_to 'Back', articles_path, :class => "btn btn-default btn-sm"%>
</div>