<div class="inner">

<h1>Administator Control Panel</h1>

<h3>Forum Controls</h3>
<%= link_to "Manage Forums", forem.admin_root_url, :class => "btn btn-default" %>

<h3>Site Controls</h3>
<%= link_to 'Create a new Link', new_link_path, :class => "btn btn-default" %>
<%= link_to 'Create a new Event', new_event_path, :class => "btn btn-default" %>
<%= link_to 'Create a new Article', new_article_path, :class => "btn btn-default" %>
<%= link_to 'Upload a new Document', new_document_path, :class => "btn btn-default" %>

</div>