<h1>Users</h1>
<h4 class="notice"><%= notice %></h4>

<div class="table-responsive">
<table class="table table-hover">
  <tr>
  	<th>Name</th>
  	<th>Email</th>
  	<th>User Type (Admin, Parent or Professional)</td>
  	<th>Make user Forum Admin?</th>
  	<th></th>
  </tr>
  <% @users.each do |user| %>
  <%= form_for user do |f| %>
  <tr>
  	<td>
  	<%= user.name %>
  	<%= f.hidden_field :user_id, value: user.id %>
  	</td>
  	<td><%= user.email %></td>
  	<td>
	  	<% Role.all.each do |role| %>
	  	<%= f.radio_button(:role_id, role.id) %>
	  	<%= f.label(:role_id, role.name.capitalize) %>
	    <% end %>
    </td>
    <td>
    	<%= f.check_box(:forem_admin) %>
    </td>
    <td>
    <%= f.hidden_field :source_page, value: 'userAdmin' %>
    <%= f.submit "Save", :class => "btn btn-info" %>
    </td>
    <% end %>
  	<% end %>

  </tr>


</table>
</div>


</table>
