<h1>Users</h1>

<% @users.each do |user| %>

<strong>Email:</strong><br />
<p><%= user.email %></p>

<strong>Name:</strong><br />
<p><%= user.name %></p>

<strong>State:</strong><br />
<p><%= user.state %></p>

<strong>Postcode: </strong><br />
<p><%= user.postcode %></p>

<strong>user Privelages:</strong><br />
<p><%= user.role_id %></p>

<h3>If a parent...</h3>
<strong>Number of kids:</strong><br />
<p><%= user.number_of_children %></p>

<h3>If profesional...</h3>
<strong>Business Name</strong><br />
<p><%= user.business_name %></p>

<strong>Practice Type</strong><br />
<p><%= user.practice_type %></p>

<strong>Website</strong><br />
<p><%= user.website %></p>

<hr>

<% end %>