<h2>My profile</h2>
<ul>
<li><%= @user.name %></li>
<li><%= @user.street_address %></li>
<li><%= @user.city %></li>
<li><%= @user.state %></li>
<li><%= @user.business_name if @user.role.name == "professional" %></li>
<li><%= @user.practice_type if @user.role.name == "professional" %></li>
<li><%= @user.website if @user.role.name == "professional" %></li>
<li><%= @user.phone_number if @user.role.name == "professional" %></li>
<li><%= @user.number_of_children if @user.role.name == "parent" %></li>
<li><%= @user.role_id %></li>
<li><%= @user.role.name %></li>
</ul>