<div class="search-events">
  <h1>Listing events</h1>
  <%= form_tag events_path, :class=> "form-inline", :method => :get do%>
      <div class="form-group">
      <p><%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Enter Address" %>
      <%= submit_tag "Search Near", :name => nil, :class=> "btn btn-default" %></p>
    </div>
  <% end %>
</div>

<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<div> 
    <% @events.each do |event| %>
        <p>Name: <%= event.name %>
        Address: <%= event.address %>
        Description: <%= event.description %>
        Category: <%= event.category %>
        Cost: $ <%= event.cost %>
        Date/Time: <%= event.dateTime %>
        Capacity: <%= event.capacity %>
        Website: <%= event.website %>
        Event Creator: <%= event.user_id %></p>
        <%= link_to 'Show', event %>
        <% if policy(event).edit? %>
          <%= link_to 'Edit', edit_event_path(event) %>
        <% end %>
        <% if policy(event).destroy? %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      
    <% end %>
</div>

<br>
<% if policy(@events).create? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>




<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
