<div class="row event-one-row">
  <div class="event-show-one col-md-6">
      <h1><%= @event.name %></h1>
  
    <p>
      <%= image_tag @event.asset, :width => "100%"%>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @event.address %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @event.category %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= @event.cost %>
    </p>

    <p>
      <strong>Datetime:</strong>
      <%= @event.dateTime %>
    </p>

    <p>
      <strong>Capacity:</strong>
      <%= @event.capacity %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @event.website, @event.website %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @event.user %>
    </p>
    <p>
      <strong>Tags:</strong>
      <% @event.tags.each do |tag| %>
      <%= link_to tag.name, { controller: :search, action: :index, search_term: tag.name }%>
      <% end %>
    </p>

  <p>
    <strong>longitude and latitude:</strong>
    <%= @event.longitude %>
    <%= @event.latitude %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event), :class=> "btn btn-default" %>
  <%= link_to 'Back', events_path, :class=> "btn btn-default" %>

</div>
<div class="google-map col-md-6">
  <div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
</div>
</div>
<% if @event.latitude %>
  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { maxZoom: 15 }, internal: {id: 'map'}}, function(){
    marker = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(marker);
    handler.fitMapToBounds();
  });
  </script>
<% end %>
