<div class="article-show-inner">
  
  <h1>"<%= @document.name %>"</h1>

  <h2><%= @document.kind %></h2>

  <p>Uploaded by <%= @document.user.name %></p>
  <p>

    <h2>Categories</h2><br/>
    <% @document.tags.each do |tag| %>
    <%= link_to tag.name, { controller: :search, action: :index, search_term: tag.name }, :class => "btn btn-warning btn-sm"%>
    <% end %>
  </p>




  <%= link_to 'Edit', edit_document_path(@document), :class => "btn btn-default btn-sm" %>
  <%= link_to 'Back', documents_path, :class => "btn btn-default btn-sm"%>
</div>
