<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link.url %></td>
        <td><%= link.user %></td>
        <td><%= link_to 'Show', link %></td>
        <% if policy(link).edit? %>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <% end %>
        <% if policy(link).destroy? %>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@links).create? %>
  <%= link_to 'New Link', new_link_path %>
<% end %>
