<div class="article-show-inner">
  
  <h1>"<%= @link.name %>"</h1>

  <h2>Link to - <%= @link.url %></h2>

  <p>Uploaded by <%= @link.user.name %></p>

  <p><%= link_to 'Go to Website', "http://" + @link.url, :class => "btn btn-success" %></p>

  <p>

    <h2>Categories</h2><br/>
    <% @link.tags.each do |tag| %>
    <%= link_to tag.name, { controller: :search, action: :index, search_term: tag.name }, :class => "btn btn-warning btn-sm"%>
    <% end %>
  </p>


  <%= link_to 'Edit', edit_link_path(@link), :class => "btn btn-default btn-sm" %>
  <%= link_to 'Back', links_path, :class => "btn btn-default btn-sm"%>
</div>
